# Fail2Ban jail.local configuration

[DEFAULT]
ignoreip = {{ ignoreip }}
bantime  = {{ bantime }}
findtime  = 600
maxretry = {{ maxretry }}
loglevel = {{ loglevel }}

{% for service in services %}
[{{ service.name }}]
enabled = {{ service.enabled }}
port = {{ service.port }}
filter = {{ service.filter }}
logpath = {{ service.logpath }}
maxretry = {{ service.maxretry }}
{% endfor %}
